# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
debtor_children = data.pivot_table(index='children', values='debt', aggfunc=['count', 'sum', 'mean'])\
        .sort_values(by=('mean', 'debt'), ascending=False)\
        .rename(columns={'count':'Выданные кредиты','sum':'Должники','mean':'Процент задержек'})

# Здесь я создаю таблицу, группирую её по значениям в столбце 'children'. Для каждой группы вычисляю количество, сумму и среднее значения.
# Упорядочиваю от наибольшего среднего значения к наименьшему.
# Переименовываю столбцы для наглядности.

debtor_children['Процент задержек'] = (debtor_children['Процент задержек'] * 100).round(2).astype(str) + '%'

# Перевожу последний столбец в проценты.

In [23]:
debtor_children

         Выданные кредиты Должники Процент задержек
                     debt     debt             debt
children
4                      41        4            9.76%
2                    2052      194            9.45%
1                    4808      444            9.23%
3                     330       27            8.18%
0                   14091     1063            7.54%
5                       9        0             0.0%

**Вывод:** Количество детей влияет на оплату кредита в срок. Бездетные допускают просрочку платежа реже других групп. Группа с 1 или 2 детьми чаще допускают просрочку, разница с бездетными примерно 1,8%, что в мастштабах банка очень значительно. Возможно, такие отличия связаны с дополнительными тратами на детей и невозможностью стабильно контролировать бюджет. Группа с 4 и 5 детьми не учитывалась, т.к. на фоне общей массы кредитов их количество мало.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [24]:
debtor_family_status = data.pivot_table(index='family_status', values='debt', aggfunc=['count', 'sum', 'mean'])
# Создаю таблицу, группирую её по значениям в столбце 'family_status'. Для каждой группы вычисляю количество, сумму и среднее значения.
debtor_family_status.columns = ['Выданные кредиты', 'Должники', 'Процент задержек']
# Переименовываю столбцы для наглядности.
debtor_family_status['Процент задержек'] = (debtor_family_status['Процент задержек'] * 100).round(2).astype(str) + '%'
# Вычисляю процент задержек и перевожу столбец в проценты.
debtor_family_status = debtor_family_status.sort_values(by='Процент задержек', ascending=False)
# Сортирую таблицу по проценту задержек.

In [25]:
debtor_family_status

                       Выданные кредиты  Должники Процент задержек
family_status
Не женат / не замужем              2796       273            9.76%
гражданский брак                   4134       385            9.31%
женат / замужем                   12261       927            7.56%
в разводе                          1189        84            7.06%
вдовец / вдова                      951        63            6.62%

**Вывод:** Меньше всего задолженностей у овдовевших людей. Это может быть связано с тем, что это чаще всего более взрослые люди, имеющие хороший опыт в распределении финансов. Немного менее ответственно погашают кредиты люди состоящие или состоявшие в браке. Показатель не отличается более чем на 1%. Можно так же сказать, что брак накладывает некоторые обязательства, в том числе и финансовые. Самая неответственная часть - люди не состоявшие в браке. Это может быть сваязано с меньшей финансовой ответственностью этой группы.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [26]:
debtor_income = data.pivot_table(index='total_income_category', values='debt', aggfunc=['count', 'sum', 'mean'])
# Создаю таблицу, группирую её по значениям в столбце 'total_income_category'. Для каждой группы вычисляю количество, сумму и среднее значения.
debtor_income.columns = ['Выданные кредиты', 'Должники', 'Процент задержек']
# Переименовываю столбцы для наглядности.
debtor_income['Процент задержек'] = (debtor_income['Процент задержек'] * 100).round(2).astype(str) + '%'
# Вычисляю процент задержек и перевожу столбец в проценты.
debtor_income = debtor_income.sort_values(by='Процент задержек', ascending=False)
# Сортирую таблицу по проценту задержек.

In [27]:
debtor_income

                       Выданные кредиты  Должники Процент задержек
total_income_category
E                                    22         2            9.09%
C                                 15921      1353             8.5%
A                                    25         2             8.0%
B                                  5014       354            7.06%
D                                   349        21            6.02%

**Вывод:** Сравнивая 2 категории B и C можно заметить, что люди с доходом от 200 000 рублей менее подвержены задержкам платежей, нежели люди с доходом 50 000 - 100 000 рублей. Это может быть связано с тем, что при большем доходе проще выделить неприкасаемую часть бюджета на оплату кредита. Категории E и A в расчёт не берём, т.к. людей в этой категории значительно меньше других. У категории D в свою очередь самый низкий процент долгов. Это может говорить о том, что люди с доходом 30 000 - 50 000 рублей вынуждены тщательнее относиться к регулированию бюджета, поэтому и более стабильны.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [28]:
debtor_purpose = data.pivot_table(index='purpose_category', values='debt', aggfunc=['count', 'sum', 'mean'])
# Создаю таблицу, группирую её по значениям в столбце 'purpose_category'. Для каждой группы вычисляю количество, сумму и среднее значения.
debtor_purpose.columns = ['Выданные кредиты', 'Должники', 'Процент задержек']
# Переименовываю столбцы для наглядности.
debtor_purpose['Процент задержек'] = (debtor_purpose['Процент задержек'] * 100).round(2).astype(str) + '%'
# Вычисляю процент задержек и перевожу столбец в проценты.
debtor_purpose = debtor_purpose.sort_values(by='Процент задержек', ascending=False)
# Сортирую таблицу по проценту задержек.

In [29]:
debtor_purpose

                          Выданные кредиты  Должники Процент задержек
purpose_category
операции с автомобилем                4279       400            9.35%
получение образования                 3988       369            9.25%
проведение свадьбы                    2313       183            7.91%
операции с недвижимостью             10751       780            7.26%

**Вывод:** Самая нестабильная категория людей, берущих кредит на автомобиль. Это может быть связано с непредвиденными расходами, которые данный автомобиль может потребовать. Так же большой процент задержек у кредитов на образование. Объяснить это можно тем, что данный тип кредита чаще всего берут молодые люди, не имеющие стабильного заработка, с чем и связаны задержки платежей. Лучше дела обстоят с кредитом на свадьбу. Вспомнив вывод, что люди в браке довольно стабильно платят, можно понять, что у этой категории и не должно было быть большого процента задержек. Самый маленький процент задержек у кредитов на недвижимость. Это может быть связано с тем, что такие кредиты берутся на большую сумму, и те кто их берёт обязаны на продолжительное время добавить данную статью расходов.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Технологические: связанные с копированием, считыванием, записью данных и изменением формата файла. Человеческий фактор: некорректный ввод данных или их сокрытие.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* В случае, если в данных есть значения, которые сильно отличаются от общей массы, медианное значение покажет более реальную ситуацию, чем среднее. Медианное значение менее восприимчиво к сильно отклоняющимся данным, т.к. делит выборку пополам и всплески на границах на неё не повлияют.

### Шаг 4: общий вывод.

- Наличие детей влияет на оплату кредита в срок. Бездетные менее подвержены возникновению задолженности. Их наличие повышает вероятность задолженности. 
- Семейное положение так же влияет на оплату кредита в срок. Пары не состоящие в официальных отношениях (холостые или в гражданском браке) больше подвержены возникновению задолженности. Категории овдовевших, женатых и разведённых более стабильны в выплатах.
- Уровень дохода так же влияет на оплату кредита в срок. Стабильной оказалась группа людей с доходом 30 000 - 50 000 рублей. Категории, зарабатывающие 50 000 - 100 000 рублей и от 200 000 рублей более подвержены возникновению задолженности.
- Цель кредита так же влияет на его оплату в срок. Наиболее подверженными возникновению задолженности оказались люди, берущие кредит на операции с автомобилем и получение образования. Категории людей, берущих кредит на недвижимость или свадьбу более стабильны.

- Наличие детей влияет на оплату кредита в срок. Бездетные менее подвержены возникновению задолженности. Их наличие повышает вероятность задолженности <font color='red'> с 7,54% до 9,45%. </font> 
- Семейное положение так же влияет на оплату кредита в срок. Пары не состоящие в официальных отношениях (холостые или в гражданском браке) больше подвержены возникновению задолженности, <font color='red'> примерно 9,5% платежей приходят не в срок. </font>  Категории овдовевших, женатых и разведённых более стабильны в выплатах: <font color='red'>  они задерживают от 6,6% до 7,6% платежей. </font> 
- Уровень дохода так же влияет на оплату кредита в срок. Стабильной оказалась группа людей с доходом 30 000 - 50 000 рублей, <font color='red'> процент задержек по кредитам составил 6%. </font> Категории, зарабатывающие 50 000 - 100 000 рублей и от 200 000 рублей более подвержены возникновению задолженности, <font color='red'> задержки были в 8,5% и 7% платежей соответственно. </font> 
- Цель кредита так же влияет на его оплату в срок. Наиболее подверженными возникновению задолженности оказались люди, берущие кредит на операции с автомобилем и получение образования, <font color='red'> задержки составили более 9% для обеих категорий. </font> Категории людей, берущих кредит на недвижимость или свадьбу более стабильны, <font color='red'> задержки в 7,3% и 7,9% платежей соответственно. </font>